/vk_like_add.py
/vk_download.py
/tlist.py
/testcode.py
/tags.txt
/str_to_json.py
/eiifje.py
/config.json
/captcha_image.png
/autTags.txt
/test/var1.py
/test/Ui_progressbar_widget.py
/test/testcode.py
/test/test_bd.py
/test/Test2.py
/test/settings.json
/test/post.py
/test/config.json
/test/cat_widget.py
/test/temp/
/output/
/test/reserv/
/.venv/
/download_update.bat
/download_update.bat.gpg
/test/variable/temp/
/test_code/
/test/param.db
/test/ui/Новая папка/
